#abaut{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 70px;
    padding-bottom: 100px;
    width: 100%;
}
.abaut-cards{
    display: flex;
    gap: 160px;
}
.abaut-cards__text{
font-size: 35px;
line-height: 40px;
letter-spacing: 0%;
 padding-top: 100px;
    color: rgba(11, 19, 42, 1);
}
.abaut-cards__titel{
font-weight: 400;
font-size: 16px;
color: rgba(79, 86, 101, 1);
padding-top: 10px;
}
.abaut-card{
    display: flex;
    align-items: center;
    padding-top: 18px;
    gap: 10px;
    color: rgba(79, 86, 101, 1);
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;

}
@media (max-width:1169px) {
    .abaut-cards{
        flex-wrap: wrap;
    }
    .abaut-cardd{
        margin-top: -130px;
    }
    
}
